/* Phone field in modal */
.frappe-control[data-fieldtype=Phone] .selected-phone {
	top: 0 !important;
	right: auto !important;
	left: 8px !important;
	direction: ltr !important;
}
.frappe-control[data-fieldtype=Phone] input {
    direction: ltr !important;
}

/* Add margin to the app title */
.body-sidebar-container.expanded .body-sidebar .app-title {
	margin-right: 10px;
}
/* Add the scroll bar to the sidebar */
.body-sidebar-top {
    overflow: auto !important;
}
/* Add line height to the sidebar items */
.body-sidebar-container.expanded .body-sidebar .sidebar-item-label {
    line-height: 1.5 !important;
}
/* Override the max-width and margin of the workspaces page when full-width is enabled */
@media (min-width: 992px) {
    [data-page-route=Workspaces] .layout-main {
        height: calc(100vh - var(--navbar-height) - var(--page-head-height) - 5px);
        max-width: var(--page-max-width);
        margin: auto;
    }

    /* New rule: Override max-width and margin when body has 'full-width' class */
    body.full-width [data-page-route=Workspaces] .layout-main {
        max-width: none !important;
        margin: 0 !important;
    }
}
