.app-switcher-dropdown {
	cursor: default;
}
a.app-switcher-dropdown:hover {
	background: none !important;
}
/* .sidebar-item-control,
.sidebar-item-control:hover {
	display: none !important;
} */
.sidebar-item-control button.btn-reset.drop-icon.show-in-edit-mode {
	display: none !important;
}
a.app-switcher-dropdown.active-sidebar {
	background: none !important;
	box-shadow: none !important;
	border-radius: none !important;
}
.app-switcher-menu {
	display: none !important;
}

/* Hide the original Frappe logo block in the sidebar */
.standard-sidebar-item > .d-flex:not(.custom-logo-block) {
    display: none !important;
}

/* Vertically center the custom logo and title */
.custom-logo-block {
    align-items: center;
}

/* Custom styles for the Sahl ERP logo to mimic Frappe's */
.sahl-logo-container {
	text-decoration: none;
	text-align: center;
    padding: var(--padding-xs);
    border-radius: var(--border-radius-sm);
    transition: all 0.2s ease;
    flex-shrink: 0;
}

.sahl-app-title {
    font-weight: 600;
    color: var(--text-color);
    padding: var(--padding-xs);
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

